@import "~normalize.css/normalize";

$section-background-colors: #CD241A, #FFFFFF, #00B2D3;

@for $i from 1 through length($section-background-colors) {
  .section:nth-of-type(#{$i}) {
    .section__content {
      background-color: nth($section-background-colors, $i);
      box-shadow: 0 10px 30px 1px nth($section-background-colors, $i);
    }
  }
}

#main {
  position: fixed;
  width: 100%;
}

.section {
  position: relative;
  min-height: 100vh;
}

.section__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
